.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Movies-TCA.xcodeproj/xcshareddata/xcschemes/Movies-TCA.xcscheme
Movies-TCA.xcodeproj/project.xcworkspace/xcuserdata/telem.xcuserdatad/UserInterfaceState.xcuserstate
