TMDB_API_BASE_URL = https:/$()/api.themoviedb.org/3
TMDB_API_ACCESS_TOKEN = Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5OTA5MGUyOWU4YmRlZmVhOTFhNDIyYzFkMzVmODIwNCIsInN1YiI6IjVkY2NmZjkzY2MyNzdjMDAxNGUyN2RkNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.928DVC6VuNvMz9r76wLajvPUQzgKCOy6PITbAaMllS8
TMDB_PHOTO_BASE_URL = https:/$()/image.tmdb.org/t/p
